/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.cursive{
	font-family: 'Cookie', cursive !important;
}
ul.show{
	padding: 20px;
	list-style-type: disc;
}
ul.show li{
	padding-bottom: 20px;
	list-style-type: disc;
}
ul.show.bunched{
	padding-top: 0px;
}
ul.show.bunched li{
	padding-bottom: 0px;
}

nav ul li a.active {
  background-color: #f9818b;
}
p+ul.show {
    padding-top: 0px;
}
p+h2, p+h3, p+h4, p+h5{
	padding-top: 10px;
}